USE master
GO
DROP DATABASE IF EXISTS Equipments2024DB
CREATE DATABASE Equipments2024DB

GO
USE Equipments2024DB
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 2/29/2024 9:42:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[Email] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](100) NULL,
	[Password] [nvarchar](50) NULL,
	[FullName] [nvarchar](50) NULL,
	[Birthday] [datetime] NULL,
	[Status] [nvarchar](10) NULL,
	[RoleID] [int] NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipments]    Script Date: 2/29/2024 9:42:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipments](
	[EqID] [int] IDENTITY(1,1) NOT NULL,
	[EqCode] [nvarchar](50) NOT NULL,
	[EqName] [nvarchar](150) NULL,
	[Description] [nvarchar](200) NULL,
	[Model] [nvarchar](50) NULL,
	[SupplierName] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[Quantity] [int] NULL,
	[Status] [int] NULL,
	[RoomID] [int] NULL,
 CONSTRAINT [PK_Equipments] PRIMARY KEY CLUSTERED 
(
	[EqID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 2/29/2024 9:42:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[RoomName] [nvarchar](50) NOT NULL,
	[Location] [nvarchar](150) NULL,
	[Status] [nvarchar](10) NULL,
 CONSTRAINT [PK_Rooms] PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Accounts] ([Email], [UserName], [Password], [FullName], [Birthday], [Status], [RoleID]) VALUES (N'admin@fe.com', N'admin', N'@5', N'Admin', CAST(N'1990-09-16T00:00:00.000' AS DateTime), N'active', 1)
INSERT [dbo].[Accounts] ([Email], [UserName], [Password], [FullName], [Birthday], [Status], [RoleID]) VALUES (N'manager@fe.com', N'manager', N'@5', N'Manager', CAST(N'1980-12-12T00:00:00.000' AS DateTime), N'active', 3)
INSERT [dbo].[Accounts] ([Email], [UserName], [Password], [FullName], [Birthday], [Status], [RoleID]) VALUES (N'staff@fe.com', N'staff', N'@5', N'Staff', CAST(N'1970-10-10T00:00:00.000' AS DateTime), N'active', 2)
GO
INSERT [dbo].[Equipments] ([EqCode], [EqName], [Description], [Model], [SupplierName], [CreatedAt], [UpdatedAt], [Quantity], [Status], [RoomID]) VALUES (N'MQ001', N'Maqueen Robot', N'Robot', N'MX2023', N'HShop', CAST(N'2021-02-27T00:00:00.000' AS DateTime), CAST(N'2024-02-27T00:00:00.000' AS DateTime), 2, 1, 1)
INSERT [dbo].[Equipments] ([EqCode], [EqName], [Description], [Model], [SupplierName], [CreatedAt], [UpdatedAt], [Quantity], [Status], [RoomID]) VALUES (N'TA001', N'Table', N'Table', N'TA2024', N'HoaPhat', CAST(N'2022-01-01T00:00:00.000' AS DateTime), CAST(N'2024-01-01T00:00:00.000' AS DateTime), 35, 1, 1)
INSERT [dbo].[Equipments] ([EqCode], [EqName], [Description], [Model], [SupplierName], [CreatedAt], [UpdatedAt], [Quantity], [Status], [RoomID]) VALUES (N'M001', N'Monitor', N'Monitor', N'LG008', N'LG', CAST(N'2022-01-02T00:00:00.000' AS DateTime), CAST(N'2022-01-02T00:00:00.000' AS DateTime), 1, 1, 1)
GO
INSERT [dbo].[Rooms] ([RoomName], [Location], [Status]) VALUES (N'C605', N'NVH', N'active')
INSERT [dbo].[Rooms] ([RoomName], [Location], [Status]) VALUES (N'C601', N'NVH', N'active')
INSERT [dbo].[Rooms] ([RoomName], [Location], [Status]) VALUES (N'C407', N'NVH', N'active')
GO
ALTER TABLE [dbo].[Equipments]  WITH CHECK ADD  CONSTRAINT [FK_Rooms_Equipments] FOREIGN KEY([RoomID])
REFERENCES [dbo].[Rooms] ([RoomID])
GO
ALTER TABLE [dbo].[Equipments] CHECK CONSTRAINT [FK_Rooms_Equipments]
GO
SELECT * FROM [Accounts]
SELECT * FROM [Equipments]
